__pycache__/prefix.cpython-310.pyc
__pycache__/routes.cpython-310.pyc
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/routes-checkpoint.py
static/javascript/.ipynb_checkpoints/admin_javascript-checkpoint.js
Flask/app/.ipynb_checkpoints/routes-checkpoint.py
