<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    
    <div class="topnav">
      <a class="active" href="{{ path }}">Home</a>
      <a href="{{ path }}browse-procedure">Browse By Procedure</a>
      <a href="{{ path }}browse-insurer">Browse By Insurer</a>
      <a href="{{ path }}browse-hospital">Browse By Hospital</a>
      <a href="{{ path }}logins">Login</a>
      <a href="{{ path }}signup">SignUp</a>
      <a href="{{ path }}logout">Logout</a>
      <a href="#profile">User Profile</a>
      <a href="#about">About</a>
    </div>
    <div class="browseInsurers">
        {% for i in p %}
        <a href={{i}}>{{ n[loop.index0] }}</a>
        {% endfor %}   
    </div>
    <div id="welcome"><p>Browse or Search by Insurer:</p>    
    </div>
        <!--action is where the results of the search box are sent, upon post -->
    <!--Uses flask-WTF's FlaskForm class, MyFormObj.name and MyFormObj.label are variables def'd in MyForm() -->
    <form method="POST" action="{{ path }}insurer-results">
    {{ var.csrf_token }}
    {{ var.name.label }} {{ var.name(size=20) }}
    <input type="submit" value="Submit" id="insurerSearch">
</form>
</body>
</html>