<!-- Useful information on AJAX with jQuery used to update webpage by calling server side fucntions -->
<!-- https://flask.palletsprojects.com/en/2.0.x/patterns/jquery/ -->

<html>
  <head>
  <script src="static/javascript/admin_javascript.js"></script>
  <!-- <link rel="stylesheet" href="static/css/lab_javascript.css"> -->
  </head>
  <body>
      <h1>Form to change price of procedure/service</h1>
      <label for="hosp_name">Hospital:</label>
      <input type="text" id="hosp_name" name="hosp_name"><br><br>
      <label for="insurer">Insurer:</label>
      <input type="text" id="insurer" name="insurer"><br><br>
      <label for="procedure">Procedure:</label>
      <input type="text" id="procedure" name="procedure"><br><br>
      <button id="getPrice" type="button" onclick="get_price();">Get Price</button><br>
      <p>Current Price: $<strong id="price"></strong></p>
      <label for="desired_price">Desired Price:</label>
      <input type="text" id="desired_price" name="desired_price"><br><br>
      <button id="setPrice" type="button" onclick="set_price();">Set Price</button><br>
      <p>New Set Price: $<strong id="new_price"></strong></p>
    
  
  </body>
  
</html>
